<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="java.util.Map" alias="map" />
		<typeAlias type="kr.prd.web.login.vo.LoginData$UserInfoVO" alias="loginVO" />
		<typeAlias type="kr.prd.web.profile.vo.ProfileData$ProfileVO" alias="profileVO"/>
		<typeAlias type="kr.prd.web.profile.vo.ProfileData$ProfileFix" alias="profileFix"/>
		<typeAlias type="kr.prd.web.board.model.BoardData$BoardVO" alias="boardVO" />
		<typeAlias type="kr.prd.web.board.model.BoardData$BoardImgVO" alias="boardImg" />
	</typeAliases>


</configuration>
