<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="footer">
    <div class="footer">
      <div class="wrapper">
        <div>
          <span>소개</span>
          <span>도움말</span>
          <span>홍보 센터</span>
          <span>API</span>
          <span>채용 정보</span>
          <span>개인정보처리방침</span>
          <span>약관</span>
          <span>위치</span>
          <span>인기</span>
          <span>계정</span>
          <span>해시태그</span>
          <span>언어</span>
          <div class="blank"></div>
          <p class="copyright">ⓒ 2020 INSTAGRAM FROM FACEBOOK</p>
        </div>
      </div>
    </div>
  </div>
</html>