<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Westagram</title>
    <link rel="stylesheet" href="/css/main/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script
            defer
            src="https://kit.fontawesome.com/b3f0d3ce61.js"
            crossorigin="anonymous"
    ></script>
</head>

<body>
<header>
    <div class="wrap">
        <nav class="main-navigation">
            <div class="nav-box">
                <div class="logo">
                    <i class="fab fa-instagram"></i>
                    <h1>Westagram</h1>
                </div>
                <div class="search-box">
                    <form action=".." method="post">
                        <input class="search-txt" type="text" placeholder="검색어를 입력해 주세요">
                        <button class="search-btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

                <div class = account_display>
                    <?php
            echo $_SESSION['userid'];?>님 &nbsp;
                    <font style="cursor:pointer" onClick="location.href='./logout.php'" class = bt>Logout</font>
                </div>
            </div>
        </nav>
    </div>
</header>

<section style="width:1000px;float:right;">
<nav class="feeds" style="width:600px;text-align:left; float: left;">
    <article>
        <div class="article-header">
            <div class="profiles">
                <div class="profiles-img">
                    <a href="#">
                        <img src="/people01.jpg" alt="story-people" />
                    </a>
                </div>
                <div class="id-text">
                    <span>Wecode_bootcamp</span>
                    <span>Wecode - 위코드</span>
                </div>

                <div class="article-header-menu">
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>
            </div>
        </div>

        <div class="contents">
            <img src="/images/dog_picture.jpg">
        </div>

        <div class="article-bottom">
            <div class="article-links">
                <div class="buttons">
                    <button class="far fa-heart"></button>
                    <button class="far fa-comment"></button>
                    <button class="fas fa-share-square"></button>
                </div>
                <div class="article-links-right">
                    <button class="far fa-bookmark"></button>
                </div>
            </div>
            <div class="article-bottom-like">
                <div class="like-profile">
                  <span class="article-bold"
                  >dog_lover님 외 10명이 좋아합니다.</span
                  >
                </div>
            </div>

            <!-- 댓글 구분선 -->
            <div class="article-bottom-texts">
                <div class="comment-text">
                    <span class="article-bold">멍멍조아</span>
                    <span>헐.... 너무 귀여워♥</span>
                </div>
                <div class="comment-text">
                    <span class="article-bold">good_puppy and happy_jipsa</span>
                    <span>퍼가요~</span>
                </div>
                <div class="upload-time"><span>42분 전</span></div>

                <button type='button' id="modal_btn">자세히 보기</button>

                <!--모달 창 시작-->
                <div class="modal_background" style="backdrop-filter: blur(1.5px);"></div>
                <div class="modal">
                    <div class="modal_close">x</div>
                            <div class="modal_title">
                                <div class="modal_title_side"></div>
                                <div> 새 게시물 </div>
                                <div class="modal_title_side">
                                </div>
                            </div>

                            <nav class="modal_wrap" style="width:900px; align-content:center;">
                                <nav>
                                    <img class="modal_contents" src="/images/dog_picture.jpg"
                                         style="width:450px; float:left">
                                </nav>

                                <nav class="modal_text_wrap" style="width:400px;text-align:left;float:right;">
                                    <article class="article-header" style="width:400px;text-align:left;">
                                        <div class="profiles">
                                            <div class="profiles-img">
                                                <a href="#">
                                                    <img src="/people01.jpg" alt="story-people" />
                                                </a>
                                            </div>
                                            <div class="id-text">
                                                <span>Mung_Mung</span>
                                            </div>
                                            <div class="article-header-menu">
                                                <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                                            </div>
                                        </div>
                                    </article>
                                    <div>우리집 강아지는 복슬강아지🐕</div>
                                    <div>오늘두 다섯끼 먹음🐷</div>
                                    <div>언니가 돈 많이 벌어올게💵</div>
                                    <div>#귀여워 #내새꾸 #시츄 #하루_5끼</div>
                                    <div class="article-bottom-texts">
                                        <div class="comment-text">
                                            <span class="article-bold">멍멍조아</span>
                                            <span>헐.... 너무 귀여워♥</span>
                                        </div>
                                        <div class="comment-text">
                                            <span class="article-bold">good_puppy and happy_jipsa</span>
                                            <span>퍼가요~</span>
                                        </div>
                                        <div class="comment-text">
                                            <span class="article-bold">meow_meow</span>
                                            <span>당장 간식으로 혼내주러 간다</span>
                                        </div>
                                        <div class="comment-text">
                                            <span class="article-bold">advertisement_good</span>
                                            <span>안녕하세요^^</span>
                                            <div>지나가다가 피드가 너무 맘에 들어 댓글 남겨요~</div>
                                            <div>혹시 디엠 확인 부탁드려도 될까요?❤</div>
                                        </div>
                                        <div class="comment-text">
                                            <span class="article-bold">kakaotalk_lover</span>
                                            <span>SNS 올릴 시간에 카톡 확인 좀 해라</span>
                                        </div>
                                        <div class="comment-text">
                                            <span class="article-bold">nyamnyam_good</span>
                                            <span>강아지 밥 뭐주시나요? 정보 공유좀 부탁드려요~^^</span>
                                        </div>
                                        <div class="article-bottom"style="width:400px;text-align:left;">
                                            <div class="article-links">
                                                <div class="article-links-left">
                                                    <i class="far fa-heart"></i>
                                                    <i class="far fa-comment"></i>
                                                    <i class="fas fa-share-square"></i>
                                                </div>
                                                <div class="article-links-right">
                                                    <i class="far fa-bookmark"></i>
                                                </div>
                                            </div>
                                            <div class="article-bottom-like">
                                                <div class="like-profile">
                                                    <span class="article-bold">dog_lover님 외 10명이 좋아합니다.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="upload-time" style="width:400px;text-align:left;"><span>42분 전</span></div>
                                        <div class="article-bottom-comments" style="width:400px;text-align:left;">
                                            <form>
                                                <div class="emotion"><i class="far fa-smile"></i></div>
                                                <textarea
                                                        id="modal_comments-id"
                                                        placeholder="댓글 달기..."
                                                        autocomplete="off"
                                                        autocorrect="off">
                                                                        </textarea>
                                                <button id="modal_comments-submit" type="submit" disabled="true">
                                                    게시
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </nav>
                            </nav>
                        </div>

                <!-- 모달 창 끝-->

                <!-- <div class="comment"> -->
                <!-- </div> -->

                <!-- 구분선 -->

            </div>
            <div class="article-bottom-comments">
                <form>
                    <div class="emotion"><i class="far fa-smile"></i></div>
                    <textarea
                            id="comments-id"
                            placeholder="댓글 달기..."
                            autocomplete="off"
                            autocorrect="off"
                    ></textarea>
                    <button id="comments-submit" type="submit" disabled="true">
                        게시
                    </button>
                </form>
            </div>
        </div>
    </article>
</nav>

<aside style="width:300px;float:right;">
    <ul>
        <li><a class="home" href="http://localhost:9090/main">🏠 홈</a></li>
        <li><a href="">💌 메세지</a></li>
        <li><a href="http://localhost:9090/profile/home">📂 내 프로필</a></li>
        <li><a href="#">📢 알림</a></li>
        <li><a href="http://localhost:9090/main/posting">📝 포스팅</a></li>
    </ul>
</aside>
</section>

</body>

<script>
    'use strict';
    const modal = document.querySelector('.modal');
    const modal_background = document.querySelector('.modal_background')

    //Show modal
    document.querySelector('#modal_btn').addEventListener('click', () => {
        open()
    })

    //Hide modal
    document.querySelector('.modal_close').addEventListener('click', () => {
        close()
    })

    //Hide modal
    window.addEventListener('click', (e) => {
        e.target === modal_background ?  close() : false
    })
    function close(){
        modal.classList.remove('show-modal')
        modal_background.classList.remove('show-modal')
    }
    function open(){
        modal.classList.add('show-modal')
        modal_background.classList.add('show-modal')
    }
</script>

</html>