<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.prd.web.chat.dao.ChatDao">
    <select id="getChatRoomList" parameterType="map" resultType="kr.prd.web.chat.entity.ChatData$ChatRoomInfoVO">
        select * from chatroom_info where userId = #{userId};
    </select>
</mapper>